@import 'remcalc.scss';
@import 'styles/vars.scss';
@import 'styles/breakpoints.scss';

.inputWrapper{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;

	@include sm{
		flex-direction: column;
		padding: 0 rem-calc(20);
		flex-wrap: wrap-reverse;
	}
}

input[type="text"]{
	box-sizing: border-box;
	font-family: AzoSans-Regular;
	font-size: rem-calc(24);
	line-height: rem-calc(32);
	height: rem-calc(45);
	color: rgba(255,255,255,.4);
	text-align: left;
	background: rgba(255, 255, 255, .2);
	border-radius: 5px;
	border: 0;
	margin: 0;
	padding: rem-calc(7) rem-calc(25) rem-calc(6) rem-calc(25);

	& ~ input{
		margin-left: rem-calc(10);
	}
}

input[type="checkbox"]{
	vertical-align: top;
	margin-right: rem-calc(9);
}

button{
	box-sizing: border-box;
	font-family: AzoSans-Bold;
	font-size: rem-calc(20);
	text-align: center;
	line-height: rem-calc(24);
	color: #FFFFFF;
	background: #ED1F34;
	padding:rem-calc(13) rem-calc(45);
	border-radius: 5px;
	border: 0;
	margin-left: rem-calc(20);

	@include sm{
		width: 100%;
		margin-top: rem-calc(13);
	}
}
