@import 'remcalc.scss';
@import 'styles/vars.scss';
@import 'styles/breakpoints.scss';

.inputWrapper{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;

	@include sm{
		flex-direction: column;

		padding: 0 rem-calc(20);
	}
}

//TODO: I have brought shame to my family
input.invalid{
		outline: 1px solid red !important;
	}

input[type="text"]{
	box-sizing: border-box;

	padding: rem-calc(8) rem-calc(25) rem-calc(5) rem-calc(25);
	border: 0;
	border-radius: 5px;
	margin: 0;
	outline: 0;

	background: rgba(255, 255, 255, .2);
	font-family: AzoSans-Regular;
	color: rgba(255,255,255,.4);
	font-size: rem-calc(24);
	line-height: rem-calc(32);
	text-align: left;

	// the second input field needs left margin
	& ~ input{
		margin-left: rem-calc(10);
	}

	@include sm{
		font-size: rem-calc(14);
		padding-top: rem-calc(6);
		padding-bottom: rem-calc(2);
	}
}

input[type="checkbox"]{
	margin-right: rem-calc(9);
	
	vertical-align: top;

	&.invalid{
		height: rem-calc(17);
		width: rem-calc(15);
	}
}

button{
	box-sizing: border-box;
	border-radius: 5px;
	border: 0;
	padding:rem-calc(13) rem-calc(45);
	margin-left: rem-calc(20);
	
	background: #ED1F34;
	font-family: AzoSans-Bold;
	color: #FFFFFF;
	font-size: rem-calc(20);
	text-align: center;
	line-height: rem-calc(24);

	&:disabled{
		color: #333;
		background: #67373c;
		border: 1px solid #ED1F34;
	}

	@include sm{
		width: 100%;
		margin-top: rem-calc(13);
		margin-left: 0;
		font-size: rem-calc(16);
		line-height: rem-calc(20);
	}
}
