@import 'remcalc.scss';
@import 'styles/vars.scss';
@import 'styles/breakpoints.scss';

h1{
	margin: rem-calc(40) rem-calc(70) rem-calc(40) 0;
	padding: 0;

	font-family: ElaineD02-Regular;
	color: #B6FDBF;
	font-size: rem-calc(80);
	line-height: rem-calc(131);
	letter-spacing: 3px;
	white-space: nowrap;

	@include lg{
		margin: rem-calc(76) rem-calc(30) rem-calc(76) 0;
		font-size: rem-calc(60);
		line-height: rem-calc(60);
	}

	@include md{
		margin: rem-calc(19) 0;
		font-size: rem-calc(50);
		line-height: rem-calc(60);
	}

	@include sm{
		margin: rem-calc(4) 0;
		font-size: rem-calc(38);
		line-height: rem-calc(59);
	}
}

h2{
	display: flex;
	flex-direction: row;
	justify-content: left;

	margin: 0;
	padding-bottom: rem-calc(23);

	color: #94AEBF;
	font-size: rem-calc(24);
	text-align: left;
	line-height: rem-calc(30);
	text-transform: uppercase;


	@include lg{
		padding-bottom: rem-calc(19);

		font-size: rem-calc(20);
		line-height: rem-calc(30);
	}

	@include md{
		padding-bottom: rem-calc(9);

		font-size: rem-calc(20);
		line-height: rem-calc(26);
		text-align: center;
	}

	@include sm{
		flex-direction: column;
		
		padding-bottom: rem-calc(13);

		font-size: rem-calc(16);
		line-height: rem-calc(20);

		span{
			text-align: center;
		}
	}

	span{
		color: inherit;
		font-size: inherit;
		line-height: inherit;

		&:first-child{
			padding-right: rem-calc(5);
		}

		@include sm{
			display: inline-block;
		}
	}
}

h3{
	font-family: AzoSans-Light;
	color: #94AEBF;
	font-size: rem-calc(26);
	line-height: rem-calc(35);
	font-weight: 100;

	@include lg{
		font-size: rem-calc(20);
		line-height: rem-calc(26);
	}
}

p, a, span{
	color: #888888;
	font-size: rem-calc(12);
	line-height: rem-calc(14);
	text-align: left;
}
