@import 'remcalc.scss';

h1{
	white-space: nowrap;
	color: #B6FDBF;
	margin: rem-calc(40) rem-calc(70) rem-calc(40) 0;
	font-family: ElaineD02-Regular;
	font-size: rem-calc(80);
	line-height: rem-calc(131);
	letter-spacing: 3px;
	padding: 0;
}

h2{
	font-size: rem-calc(24);
	color: #94AEBF;
	text-align: left;
	line-height: rem-calc(30);
	padding-bottom: rem-calc(23);
	text-transform: uppercase;
	margin: 0;
}

p, a, span{
	color: #888888;
	font-size: rem-calc(12);
	line-height: rem-calc(14);
	text-align: left;
}

p{
	width: rem-calc(355);
	margin-top: rem-calc(8);
}