@import 'remcalc.scss';
@import 'styles/vars.scss';
@import 'styles/breakpoints.scss';

h1{
	font-family: ElaineD02-Regular;
	white-space: nowrap;
	color: #B6FDBF;
	margin: rem-calc(40) rem-calc(70) rem-calc(40) 0;
	font-size: rem-calc(80);
	line-height: rem-calc(131);
	letter-spacing: 3px;
	padding: 0;

	@include lg{
		font-size: rem-calc(60);
		line-height: rem-calc(60);
		margin: rem-calc(76) rem-calc(30) rem-calc(76) 0;
	}

	@include md{
		font-size: rem-calc(50);
		line-height: rem-calc(60);
		margin: rem-calc(19) 0;
	}

	@include sm{
		font-size: rem-calc(38);
		line-height: rem-calc(59);
		margin: rem-calc(4) 0;
	}
}

h2{
	font-size: rem-calc(24);
	color: #94AEBF;
	text-align: left;
	line-height: rem-calc(30);
	padding-bottom: rem-calc(23);
	text-transform: uppercase;
	margin: 0;

	display: flex;
	flex-direction: row;
	justify-content: left;

	@include lg{
		font-size: rem-calc(20);
		line-height: rem-calc(30);
		padding-bottom: rem-calc(19);
	}

	@include md{
		font-size: rem-calc(20);
		line-height: rem-calc(26);
		padding-bottom: rem-calc(9);
		text-align: center;
	}

	@include sm{
		font-size: rem-calc(16);
		line-height: rem-calc(20);
		padding-bottom: rem-calc(13);
		text-align: center;
		width:50%;
	}

	span{
		font-size: inherit;
		line-height: inherit;
		color: inherit;

		&:first-child{
			padding-right: rem-calc(5);
		}

		@include sm{
			display: inline-block;
		}
	}
}

h3{
	font-family: Azo-Sans-Light;
	color: #94AEBF;
	font-size: rem-calc(26);
	line-height: rem-calc(35);
	font-weight: 100;

	@include lg{
		font-size: rem-calc(20);
		line-height: rem-calc(26);
	}
}

p, a, span{
	color: #888888;
	font-size: rem-calc(12);
	line-height: rem-calc(14);
	text-align: left;
}
