// Small tablets and large smartphones (landscape view)
$screen-sm-min: 767px;

// Small tablets (portrait view)
$screen-md-min: 1026px;

// Tablets and small desktops
$screen-lg-min: 1199px;

// Large tablets and desktops
$screen-xl-min: 1200px;