@import './components/remcalc.scss';
@import 'styles/vars.scss';
@import 'styles/breakpoints.scss';


html, body{
	height:100%;
	font-family: AzoSans-Bold, sans-serif;
}

body{
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	background: #D8D8D8;
}

#root{
	display: flex;
  justify-content: center;
  background: #120F23;
}

.App{
	display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

	@include md{
		flex-direction: column;
	}

	& > div{
		display: flex;
		flex-direction: column;
		align-items: left;

		@include md{
			align-items: center;
		}
	}
}

.helperTextWrapper{
	margin-top: rem-calc(9);
	font-family: AzoSans-Light, sans-serif;

	@include md{
		margin-bottom: rem-calc(28);
		align-self: flex-start;
	}

	span, input, a{
		display: inline-block;
	}

	span{
		width:rem-calc(400);
		line-height: rem-calc(14);
	}

	a{
		margin-left: rem-calc(3);
	}
}
