@import './components/remcalc.scss';
@import 'styles/vars.scss';
@import 'styles/breakpoints.scss';


html, body{
	height:100%;
	font-family: AzoSans-Bold, sans-serif;
	font-style: normal;
}

body{
	background: #D8D8D8;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#root{
  background: #120F23;
	display: flex;
  justify-content: center;
}

.App{
	display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

	@include md{
		flex-direction: column;
	}

	// first div inside of app is the div that has everything
	// but the h1
	& > div{
		display: flex;
		flex-direction: column;

		@include md{
			align-items: center;
		}
	}
}

.helperTextWrapper{
	font-family: AzoSans-Light, sans-serif;
	margin-top: rem-calc(9);

	@include md{
		align-self: flex-start;
		margin-bottom: rem-calc(28);
	}

	@include sm{
		align-self: center;
		// width: rem-calc(320);
	}

	span, input, a{
		display: inline-block;
	}

	span{
		line-height: rem-calc(14);
		width:rem-calc(400);

		@include sm{
			width: rem-calc(280);
		}
	}

	a{
		margin-left: rem-calc(3);
	}
}
